div.board-wrapper {
    width: 100%;
    min-height: 100%;
    padding: 100px 50px 30px;
    background-color: #f5f5f5;
}

div.board-header {
    margin-bottom: 20px;
}

div.board-header-add-input {
    display: grid;
    grid-template-columns: 300px 120px auto;
}

button.add-task {
    margin-left: 10px;
}

label.board-header-label {
    font-size: 30px;
}

div.board-columns-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-auto-columns: 1fr;
    grid-column-gap: 20px;
}